
body{
  height:100vh;
  text-align: center;
  background-image: url("/images/backgroundimage.jpg");
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  z-index: 0;
  position: relative;
}

.index-h1{
    font-family: fantasy;
    color: white;
}

.index-p{
  font-weight:800;
  color:white;
}

.container{
  padding:150px 0 40px 0;
}

.header{
  height:100px;
  background-color:black;
  font-family: "arial black";
  width:100%;
  position: fixed;
  padding-left: 30px;
  top: 0;
  z-index: 10;
}

.inner{
 width:100%;
}

.inner input{
    border:solid 2px white;
    color:white;
    font-family: bold;
}

.header-search input{
    width:200px;
}



.header>.flex{
  align-items: center;
  height:100px; 
}
.flex {
  display: flex;
  justify-content: space-between;
}


ul {
  list-style: none;
  justify-content: flex-end;
}



.header h1{
  color:white;
}

a{
  text-decoration:none;
  color:black;
  font-family: "arial black";
}

.header a{
  color:white;
}

.menu-form{
    float:left;
}

.menu{
  border-left: solid 1px;
  border-color: white;
  padding:0 20px;
  transition: background-color .5s;
}

.menu:hover{
  background-color: gray;
}





.serach-icon{
    color:white;
}


.item{
  line-height:100px;
  display: flex;
}


.article-btn{
  display:flex;
  justify-content: flex-end;
}

.article-btn a{
   background-color: #4689FF;
   padding:5px;
   margin:15px;
   border-radius: 4px;
   color:white;
}

.top-like{
  display:flex;
  justify-content: flex-end;
}


.top{
  margin:0 auto;
  width:60%;
}

.article{
    position: relative;
    margin: 2em 0;
    padding: 2em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background-color: white;
}

.article .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    color: #95ccff;
    font-weight: bold;
}

.like-font{
  color:red;
}

.user-image{
  height:50px;
  width:50px;
  margin-right:10px;
  margin-left: 50px;
}

.index-user-image{
  height:50px;
  width:50px;
  border-radius:10px;
  margin-right:10px;
  margin-left: 50px;
}

.top-user{
  line-height: 50px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  border-bottom: solid 2px;
  border-color: rgba(130,120,120,0.7);
}

.user-tweet{
  padding-top: 30px;
}




.article-btn{
  display:flex;
  justify-content: flex-end;
}

.article-btn a{
   background-color: #4689FF;
   padding:4px;
   margin:15px;
   border-radius: 4px;
}




.new-container{
  width:60%;
  text-align: center;
  margin: 0 auto;
}

.new-container textarea{
  width:100%;
  height:100px;
  background-color:white;
  border: 3px solid #95ccff;
  border-radius: 3px;
  margin:50px 0 0 0 ;
} 

.new-container input{
   background-color: #4689FF;
   padding:5px;
   margin:15px;
   border-radius: 4px;
   float:right;
   color:white;
}



.createtime{
  padding:30px 0;
  color: rgba(128,128,128,1);
}



/*------------------新規登録---ログイン------------------*/
.field{
  margin:20px 0;
  font-weight:800;
  color:white;
}

.field label{
  margin:10px;
}

.field input{
  border: 1px solid black;
  border-radius:5px ;
  background-color: white;
  margin:10px;
}

.login-btn, .submit-btn {
  font-weight:800;
  color:white;
}

.actions , .new-container input, .article-btn a{
   color:white; 
   background: rgba(100,149, 247,1);
   display: inline-block;
   padding:3px 5px;
   border-bottom: solid 4px #627295;
   border-radius: 5px;
   transition: background-color 0.5s;
}

.new-container input:hover{
   background:rgba(100,149, 247,0.7);
}

.actions:hover{
     background:rgba(100,149, 247,0.7);
}

.new-container input:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.actions input:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}


/*------------------sinnkitouroku-----------------*/



.field-h2{
  padding:20px;
}


/*---------------ranking--------------*/


.ranking{
  width:80%;
  margin:0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.parent{
    position: relative;
    width:33%;
    margin:50px 0;
}

.article .ranking-box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    color: #95ccff;
    font-weight: bold;
}

.ranking-user{
  margin:0 auto;
  width: 80%;
  line-height: 50px;
  justify-content: flex-start;
  background-color: white;
  border-radius: 10px ;
  border:2px solid #95ccff;
}

.ranking-user-profile{
    display: flex;
    padding-bottom: 20px
}



.user-image{
    border-radius:10px;
}

/*--------------------rankinng終わり------*/


/*---------------show------start---------*/
.show-user{
    padding: 0.5em 1em;
    width:60%;
    margin: 0 auto;
    margin-top:40px;
    margin-bottom: 40px;
    background: #f4f4f4;
    border-left: solid 6px #95ccff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    display:flex;
}

.thumb {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

/* 中央に合わせてトリミング */
.thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.show-user-h1-p{
    width:70%;
}

.show-user-h1-p h1{
    line-height: 100px;
}

.show-user-h1-p p{
    line-height: 30px;
}

.article-show{
    position: relative;
    margin: 2em 0 0 0;
    padding: 2em 1em 0 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background-color: white;
}

.article-show .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    color: #95ccff;
    font-weight: bold;
}

/*--------------show--------end-------------:/

/*--------pagenation------------------------*/
.first a, .page a, .gap a, .last a, .next a, .pagination a, .prev a{
    color:white;
}
/*-------------------------------------------*/

.footer{
    position:absolute;
    position: fixed;
    z-index: 10;
    bottom:0;
    height: 40px;
    width:100%;
    color:white;
    background-color:black;
    text-align: center;
    line-height: 40px;
}

.footer p{
     z-index: 10;
     font-size: 10px;
}

/*----------search----------------------*/
.alert{
    background-color: orange;
    width:30%;
    margin:0 auto;
    margin-top: 15vh;
    border-radius: 10px;
    color:white;
}

/*----------search--end-----------------*/

.comment-form input {
    color:white;
    background-color:black; 
}

