
body{
  height:100vh;
  text-align: center;
  background-image: url("/images/backgroundimage.jpg");
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  z-index: 10;
}

.container{
  padding:150px 0 0 0;
  height: 100vh;
  

}

.header{
  height:100px;
  background-color:black;
  font-family: "arial black";
  width:100%;
  position: fixed;
  top: 0;
}

ul {
  list-style: none;
  justify-content: flex-end;
}

.header h1{
  color:white;
}

a{
  text-decoration:none;
  color:black;
  font-family: "arial black";
}

.header a{
  color:white;
  
}

.header li{
  border-left: solid 1px;
  border-color: white;
  padding:0 20px;
  transition: background-color .5s;
}

.header li:hover{
  background-color: gray;
}


.item{
  line-height:100px;
  display: flex;
  
}




.user-show{
  padding:20px 0;
}



.article-btn{
  display:flex;
  justify-content: flex-end;
}

.article-btn a{
   background-color: #4689FF;
   padding:5px;
   margin:15px;
   border-radius: 4px;
   color:white;
}

.top-like{
  display:flex;
  justify-content: flex-end;
}


.top{
  background-color:white;
  border-radius: 15px;
  margin:50px 20vw;
  padding:20px;
}

.like-font{
  color:red;
}

.user-image{
  height:50px;
  width:50px;
  margin-right:10px;
  margin-left: 50px;
}

.index-user-image{
  height:50px;
  width:50px;
  border-radius:10px;
  margin-right:10px;
  margin-left: 50px;
}

.top-user{
  line-height: 50px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  border-bottom: solid 2px;
  border-color: rgba(130,120,120,0.7);
  
}

.user-tweet{
  padding-top: 30px;
}




.article-btn{
  display:flex;
  justify-content: flex-end;
}

.article-btn a{
   background-color: #4689FF;
   padding:4px;
   margin:15px;
   border-radius: 4px;
}




.new-container{
  width:60%;
  text-align: center;
  margin: 0 auto;
}

.new-container textarea{
  width:100%;
  height:100px;
  background-color:white;
  border: 1px solid black;
  border-radius: 3px;
} 

.new-container input{
   background-color: #4689FF;
   padding:5px;
   margin:15px;
   border-radius: 4px;
   float:right;
   color:white;
}

.new{
  background-color:rgba(192,192,192,0.4);
  height:100vh;
}

.createtime{
  padding:30px 0;
  color: rgba(128,128,128,1);
}



/*------------------新規登録---------------------*/
.field{
  
  margin:20px 0;
}

.field label{
  margin:10px;
}

.field input{
  border: 1px solid black;
  border-radius:5px ;
  background-color: white;
  margin:10px;
}




/*------------------sinnkitouroku-----------------*/
.login-h1{
  padding:15px;
}



.field-h2{
  padding:20px;
}


/*---------------ranking--------------*/
.ranking-h1{
  font-family: fantasy;
  color:white;
} 

.ranking-p{
  font-weight:800;
  color:white;
}

.ranking{
  width:80%;
  margin:0 auto;
  overflow: hidden;
}

.ranking-user{
  width: 33%;
  line-height: 50px;
  float:left;
  justify-content: flex-start;
  background-color: white;
　margin:20px;
　padding:10px;
}

